.stat-widget {
    background-color: var(--off-black);
    padding: 0 1rem;
    border-radius: 6px;
    border-left: 8px solid var(--primary-color);
    transition: 100ms ease-in;
    cursor: pointer;
}

.stat-widget:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.stat-widget p {
    max-width: 17rem;
    color: var(--light-text);
    margin-bottom: 1.2rem;
}

.big-stat {
    line-height: 0.8;
    font-size: 3rem;
}