.sidebar {
    padding: 1rem;
    background-color: var(--off-black);
    border-right: 1px solid var(--dark-grey);
    overflow-y: scroll;
    max-height: 100vh;
    z-index: 999;
}

.sidebar-header {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
}

.trophy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trophy-container span {
    color: var(--white);
}

.nav-items {
    padding: 0;
    margin: 2rem 0;
    color: white;
}

.nav-items li {
    margin: 1rem 1rem;
    font-size: 1.2rem;
    list-style: none;
}

.nav-items li a i {
    margin-right: 1rem;
}

.sidebar_open {
    min-width: 18rem;
}

.sidebar_closed {
   min-width: 4rem;
    overflow: hidden;
}

.sidebar_closed .sidebar-contents {
    display: none;
}

.toggle-icon {
    float: right;
    cursor: pointer;
    padding: 0.2rem;
    font-size: 1.4rem;
}


@media all and (max-width: 1200px) {
    .sidebar {
        position: fixed;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }

}