.profile-items {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.trophy-container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trophy-container span {
    color: var(--white);
}

.trophy-container img {
    width: 24px;
    height: auto;
}