.lesson-widget {
    height: 22rem;
    width: 18rem;
    background-color: var(--off-black);
    border-radius: 8px;
    transition: 100ms ease-in-out;
    border: 1px solid var(--dark-grey);
    border-top: 8px solid var(--primary-color);
}

.lesson-widget:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.lesson-widget-content {
    padding: 3rem 2rem;
    color: var(--white);
}

.lesson-widget-button {
    background-color: var(--black);
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    height: 3.765rem;
}

.lesson-widget img {
    width: 32px;
    display: inline-block;
    margin-bottom: 0.6rem;
}

.lesson-widget-header {
    display: block;
    font-size: 1.4rem;
}

@media all and (max-width: 1400px) {
    .lesson-widget-content {
        padding: 2rem 1rem;
    }
}
