.lessons-header {
    margin-bottom: 1rem;
    max-width: 50rem;
}

.lessons-header p {
    font-size: 1.2rem;
}

.lesson-widgets-container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    max-width: 100%;
    margin: 0 0 4rem;
}
