.contents-widget {
    padding: 1rem;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--dark-grey);
    border-left: 8px solid var(--primary-color);
    border-radius: 8px;
    margin: 2rem 0;
}

.contents-widget-header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.contents-widget-items span {
    cursor: pointer;
    display: block;
    color: var(--white);
    margin: 1rem 0.8rem;
}