.contents-widget {
    padding: 1rem;
    border: 1px solid var(--light-gray);
    color: var(--white);
    background-color: var(--off-black);
    border-left: 8px solid var(--primary-color);
    border-radius: 6px;
    margin: 2rem 0;
}

.contents-widget-header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.contents-widget-items a {
    cursor: pointer;
    display: block;
    color: var(--white);
    margin: 1rem 0.8rem;
}