.course-search-bar-container {
    display: flex;
    width: 35rem;

}

.course-search-bar-input {
    border-radius: 8px;
    background-color: var(--white);
    color: #737373;
    width: 100%;
    padding: 0.8rem 1rem;
}

@media all and (max-width: 800px) {
    .course-search-bar-container {
        display: none;
    }
}