.tooltip {
    width: 100%;
    padding: 0.8rem 0.2rem 0.2rem 1rem;
    border-radius: 6px;
    border: 1px solid var(--dark-grey);
    background-color: var(--black);
    margin: 1.4rem 0;
}

.tooltip p {
    max-width: 95%;
    color: var(--light-text);
    margin: 0.2rem 0;
}

.tooltip-header {
    display: flex;
    column-gap: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.type-tip {
    border-left: 8px solid var(--white);
}

.type-info {
    border-left: 8px solid var(--info);
}

.type-horray {
    border-left: 8px solid var(--horray);
}

.type-error {
    border-left: 8px solid var(--error);
}
