.content {
    display: flex;
}

.main {
    max-height: 100vh;
    overflow-x: hidden;
    flex: 6;
    background-color: var(--superdark-gray);
}

.main-component {
    display: flex;
    padding: 4rem;
    margin-bottom: 50rem;
    column-gap: 8rem;
}

.page-buttons {
    display: flex;
    justify-content: space-between;
}

.widgets-container {
    max-width: 20rem;
    flex-wrap: wrap;
}

@media all and (max-width: 1200px) {
    .sidebar {
        display: none;
    }

    .main-component {
        flex-direction: column;
    }

    .widgets-container {
        max-width: 100%;
    }
}
