.main {
    display: flex;
    background-color: var(--superdark-gray);
    /*100vh minus the height of the Navbar*/
}

.main-component {
    display: flex;
    padding: 2.2rem 6rem 6rem;
    overflow-y: scroll;
    column-gap: 8rem;
    height: calc(100vh - 72px);
    width: 100%;
}

.page-buttons {
    display: flex;
    justify-content: space-between;

    /* Create empty space */
    padding-bottom: 10rem;
}

.widgets-container {
    max-width: 20rem;
    flex-wrap: wrap;
}

@media all and (max-width: 1200px) {
    .main-component {
        flex-direction: column;
    }

    .widgets-container {
        max-width: 100%;
    }

}
