.category {
  margin: 1rem 0;

  .active {
    color: $primary-color;
  }

  .category-title {
    font-size: 1.4rem;
  }

  .category-subtitle {
    padding-left: 0.4rem;
    display: block;
    margin: 0.4rem 0;

    &:hover {
      filter: brightness(90%);
    }
  }
}
