.main-popup {
  position: fixed;
  padding: 1rem;
  margin: 1rem;
  bottom: 1rem;
  max-width: 35rem;
  z-index: 10;
  border-radius: 8px;
  background-color: $darker-grey;
  border: 1px solid $light-grey;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 25px;

  span {
    color: $light-text;
  }

  i {
    float: right;
    cursor: pointer;
    padding: 0.6rem;
    /*create extra room for it to be clickable*/
    position: relative;
    bottom: 0.6rem;
    left: 0.6rem;
  }

  a {
    color: $primary-color;
  }
}