.content {
  display: flex;
  background-color: $superdark-grey;
  height: 100vh;

  > section {
    width: 100%;
  }

  .base-page {
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .lesson-page {
    width: 90%;
    padding: 2.2rem 4rem 4rem;
    display: flex;
    column-gap: 10rem;

    li {
      color: $light-text;
    }
  }

  .page-buttons {
    display: flex;
    justify-content: space-between;
    /* Create empty space */
    padding-bottom: 10rem;
  }

  .widgets-container {
    max-width: 20rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .lesson-page {
    flex-direction: column;
    margin-left: 2rem;
  }

  .widgets-container {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .lesson-page {
    flex-direction: column;
  }
}
