.home-page {
  background: linear-gradient(70deg, $black 68%, $superdark-grey 60%);
  height: 100vh;
  display: flex;
  justify-content: center;

  .hero-content {
    max-width: 100rem;
    display: flex;
    margin: 0 6rem;
    padding-left: 4rem;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;
  }

  .hero-text {
    max-width: 34rem;
    font-size: 1.3125rem;

    h1 {
      font-size: 3.1875rem;
      font-weight: bold;
    }
  }

  .hero-image {
    height: 30rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .hero-buttons {
    display: flex;
    column-gap: 1rem;
    align-items: center;

    span {
      font-size: 0.8rem;
    }
  }

  .cloud {
    width: auto;
    position: fixed;
    animation: float 3s infinite;


  }

  .cloud-1 {
    left: 500px;
    top: 110px;
    animation-delay: 0.4s;
  }

  .cloud-2 {
    left: 900px;
    bottom: 50px;
    height: 7rem;
  }

}

@media (max-width: 1200px) {
  .hero-image {
    display: none;
  }
}

@media (max-width: 800px) {
  .cloud {
    display: none;
  }

  .hero-text h1 {
    font-size: 2.4rem;
  }

  .home-page {
    background: $black;
  }
}