.sidebar_nav {
    width: 100%;
}

.sidebar_nav_items {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sidebar_nav span {
    color: $light-grey;
}

.sidebar_nav_link {
    border-radius: 8px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    width: 100%;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.sidebar_nav_link:hover {
    border-radius: 8px;
    border: 1px solid $light-grey;
    background-color: $dark-grey;
}

.sidebar_nav i {
    padding: 0.6rem 0.6rem 0.6rem 1rem;
    font-size: 1.4rem;
    margin-right: 0.6rem;
}