.sidebar {
    float: right;
    background-color: #efefef;
    padding: 1rem;
    max-height: 100vh;
    overflow: scroll;
    flex: 1;
}

.sidebar-header {
    margin-bottom: 1rem;
    font-size: 1.35rem;
}
