@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    margin: 0.08rem 0;
    color: #dcdcdc;
}

a:hover {
    color: #7a7a7a;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0.8rem 0;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-weight: bold;
    font-size: 38px;
}

h3 {
    font-size: 34px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: #2c2c2c;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

input {
    border: none;
    outline: none;
}

:root {
    --primary-color: #282b33;

    --white: #efefef;
    --black: #1c1c1c;
    --dark-gray: #232323;
    --superlight-gray: #e5e5e5;
    --light-gray: #c9c9c9;
    --light-text: #4b4b4b;
    --divider: #cccccc;

    --php-color: #5DD7C1;
    --tip: #3d3e4d;
    --info: #FFBD13;
    --error: #E55353;
    --horray: #40CC45;
    --challenge: #39A8E7;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b0b0b0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}