.course-search-bar-container {
    display: flex;
    width: 50rem;
    margin-bottom: 4rem;
}

.course-search-bar-input {
    border-radius: 8px;
    background-color: var(--white);
    color: #383838;
    width: 100%;
    padding: 0.8rem 1rem;
}

@media all and (max-width: 800px) {
    .course-search-bar-container {
        display: none;
    }
}